<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DepartureDAO">
	<insert id="insertDeparture" parameterType="departure.Departure">
        INSERT INTO departure (
            departureName, departureCities, departureTown, departureDetailedAddress,
            departureManager, departureManagerPhoneNum, etc, userCompany
        ) VALUES (
            #{departureName}, #{departureCities},
            <if test="departureTown != null">#{departureTown}</if>
            <if test="departureTown == null">NULL</if>,
            <if test="departureDetailedAddress != null">#{departureDetailedAddress}</if>
            <if test="departureDetailedAddress == null">NULL</if>,
            <if test="departureManager != null">#{departureManager}</if>
            <if test="departureManager == null">NULL</if>,
            <if test="departureManagerPhoneNum != null">#{departureManagerPhoneNum}</if>
            <if test="departureManagerPhoneNum == null">NULL</if>,
            <if test="etc != null">#{etc}</if>
            <if test="etc == null">NULL</if>,
            #{userCompany}
        )
    </insert>

	<select id="getDeparturesByCompany" parameterType="map" resultType="departure.Departure">
        SELECT *
        FROM departure
        <where>
            <if test="userType != 'admin'">
                userCompany = #{userCompany}
            </if>
        </where>
        ORDER BY departureID DESC
    </select>
	
	<select id="getDepartureByID" resultType="departure.Departure">
        SELECT * FROM departure WHERE departureID = #{departureID}
    </select>
	
	<update id="updateDeparture">
        UPDATE departure
        <set>
			departureName = #{departureName},
			departureCities = #{departureCities},
			departureTown = #{departureTown},
			departureDetailedAddress = #{departureDetailedAddress},
			departureManager = #{departureManager},
			departureManagerPhoneNum = #{departureManagerPhoneNum},
			<if test="etc != null"> etc = #{etc}, </if>
		</set>
        WHERE departureID = #{departureID}
    </update>
	
	<delete id="deleteDeparture">
        DELETE FROM departure WHERE departureID IN 
        <foreach item="departureID" collection="list" open="(" separator="," close=")">
            #{departureID}
        </foreach>
    </delete>
	
	<select id="getDepartureList" resultType="departure.Departure">
        SELECT * 
        FROM departure
        <where>
			<if test="userType != 'admin'">
				userCompany = #{userCompany}
			</if>
		</where>
		
    </select>
	
	<select id="checkDuplicateDeparture" resultType="int">
        SELECT COUNT(*)
        FROM departure
        WHERE departureName = #{departureName}
    </select>
	
	<select id="getSearchDepartureByCompany" resultType="departure.Departure">
        SELECT *
        FROM departure
        <where>
            <if test="userType != 'admin'">
                userCompany = #{userCompany}
            </if>
            <if test="departureName != null and departureName != ''">
                AND departureName LIKE CONCAT('%', #{departureName}, '%')
            </if>
            <if test="departureCities != null and departureCities != ''">
                AND departureCities LIKE CONCAT('%', #{departureCities}, '%')
            </if>
            <if test="departureTown != null and departureTown != ''">
                AND departureTown LIKE CONCAT('%', #{departureTown}, '%')
            </if>
            <if test="departureManager != null and departureManager != ''">
                AND departureManager LIKE CONCAT('%', #{departureManager}, '%')
            </if>
        </where>
		ORDER BY departureID DESC
    </select>
</mapper>
