<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="insertOrder.OrderDAO">
  <select id="getSearchList" resultType="insertOrder.Order">
        SELECT * FROM cargoorder
        WHERE 1=1
		<if test="startDate != null and endDate != null">
			AND orderDate BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="refNumber != null">
            AND refNumber = #{refNumber}
        </if>
        <if test="userName != null and userName != ''">
            AND userName LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="departureName != null and departureName != ''">
            AND departureName LIKE CONCAT('%', #{departureName}, '%')
        </if>
        <if test="arrivalName != null and arrivalName != ''">
            AND arrivalName LIKE CONCAT('%', #{arrivalName}, '%')
        </if>
        <if test="arrivalCities != null and arrivalCities != ''">
            AND arrivalCities LIKE CONCAT('%', #{arrivalCities}, '%')
        </if>
        <if test="orderNumber != null and orderNumber != ''">
            AND orderNumber LIKE CONCAT('%', #{orderNumber}, '%')
        </if>
        ORDER BY orderID DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
	
	
	<select id="getAllList" resultType="insertOrder.Order">
		SELECT * FROM cargoorder
		ORDER BY orderID DESC
	</select>
	
	
	<!-- 검색 + 페이징 리스트 조회 -->
    <select id="getPagedList" resultType="insertOrder.Order">
        SELECT * FROM cargoorder
        WHERE 1=1
		<if test="startDate != null and endDate != null">
			AND orderDate BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="refNumber != null">
            AND refNumber = #{refNumber}
        </if>
        <if test="userName != null and userName != ''">
            AND userName LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="departureName != null and departureName != ''">
            AND departureName LIKE CONCAT('%', #{departureName}, '%')
        </if>
        <if test="arrivalName != null and arrivalName != ''">
            AND arrivalName LIKE CONCAT('%', #{arrivalName}, '%')
        </if>
        <if test="arrivalCities != null and arrivalCities != ''">
            AND arrivalCities LIKE CONCAT('%', #{arrivalCities}, '%')
        </if>
        <if test="orderNumber != null and orderNumber != ''">
            AND orderNumber LIKE CONCAT('%', #{orderNumber}, '%')
        </if>
		<if test="userType == 'sales'">
			AND userName = #{userName}  <!-- 본인이 작성한 오더만 -->
		</if>
		<if test="userType == 'manager'">
			AND userCompany = (SELECT userCompany FROM user WHERE userName = #{userName})  <!-- 같은 회사의 오더만 -->
		</if>
        ORDER BY orderID DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 검색 결과 개수 조회 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM cargoorder
        WHERE 1=1
		<if test="startDate != null and endDate != null">
			AND orderDate BETWEEN #{startDate} AND #{endDate}
		</if>
        <if test="refNumber != 0">
            AND refNumber = #{refNumber}
        </if>
        <if test="userName != null and userName != ''">
            AND userName LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="departureName != null and departureName != ''">
            AND departureName LIKE CONCAT('%', #{departureName}, '%')
        </if>
        <if test="arrivalName != null and arrivalName != ''">
            AND arrivalName LIKE CONCAT('%', #{arrivalName}, '%')
        </if>
        <if test="arrivalCities != null and arrivalCities != ''">
            AND arrivalCities LIKE CONCAT('%', #{arrivalCities}, '%')
        </if>
        <if test="orderNumber != null and orderNumber != ''">
            AND orderNumber LIKE CONCAT('%', #{orderNumber}, '%')
        </if>
		<if test="userType == 'sales'">
			AND userName = #{userName}  <!-- 본인이 작성한 오더만 -->
		</if>
		<if test="userType == 'manager'">
			AND userCompany = (SELECT userCompany FROM user WHERE userName = #{userName})  <!-- 같은 회사의 오더만 -->
		</if>
    </select>
	
	<select id="getAllOrders" resultType="insertOrder.Order">
    SELECT * FROM cargoorder
    WHERE 1=1
    <if test="refNumber != null">
        AND refNumber = #{refNumber}
    </if>
    <if test="userName != null and userName != ''">
        AND userName LIKE CONCAT('%', #{userName}, '%')
    </if>
    <if test="departureName != null and departureName != ''">
        AND departureName LIKE CONCAT('%', #{departureName}, '%')
    </if>
    <if test="arrivalName != null and arrivalName != ''">
        AND arrivalName LIKE CONCAT('%', #{arrivalName}, '%')
    </if>
    <if test="arrivalCities != null and arrivalCities != ''">
        AND arrivalCities LIKE CONCAT('%', #{arrivalCities}, '%')
    </if>
    <if test="orderNumber != null and orderNumber != ''">
        AND orderNumber = #{orderNumber}
    </if>
    ORDER BY orderID DESC
    LIMIT #{pageSize} OFFSET #{offset}
	</select>
	
	<select id="getOrderById" resultType="insertOrder.Order">
        SELECT * FROM cargoorder WHERE orderNumber = #{orderNumber}
    </select>
	
	<update id="updateOrder">
        UPDATE cargoorder
        <set>
			<if test="kindOfCar != null"> kindOfCar = #{kindOfCar}, </if>
			userName = #{userName},
			<if test="orderDate != null"> orderDate = #{orderDate}, </if>
			<if test="carWeight != null"> carWeight = #{carWeight}, </if>
			<if test="refNumber != 0"> refNumber = #{refNumber}, </if>
			<if test="userPhoneNumber != null"> userPhoneNumber = #{userPhoneNumber}, </if>
			<if test="fixedCarNumber != null"> fixedCarNumber = #{fixedCarNumber}, </if>
			upDown = #{upDown},
			<if test="item != null"> item = #{item}, </if>
			<if test="etc != null"> etc = #{etc}, </if>
			startDate = #{startDate},
			endDate = #{endDate},
			departureName = #{departureName},
			arrivalName = #{arrivalName},
			departureCities = #{departureCities},
			arrivalCities = #{arrivalCities},
			departureTown = #{departureTown},
			arrivalTown = #{arrivalTown},
			<if test="departureDetailedAddress != null"> departureDetailedAddress = #{departureDetailedAddress}, </if>
			<if test="arrivalDetailedAddress != null"> arrivalDetailedAddress = #{arrivalDetailedAddress}, </if>
			<if test="departureManager != null"> departureManager = #{departureManager}, </if>
			<if test="arrivalManager != null"> arrivalManager = #{arrivalManager}, </if>
			<if test="departureManagerPhoneNum != null"> departureManagerPhoneNum = #{departureManagerPhoneNum}, </if>
			<if test="arrivalManagerPhoneNum != null"> arrivalManagerPhoneNum = #{arrivalManagerPhoneNum}, </if>
			<if test="carNumber != null"> carNumber = #{carNumber}, </if>
			<if test="driverName != null"> driverName = #{driverName}, </if>
			<if test="driverPhoneNum != null"> driverPhoneNum = #{driverPhoneNum}, </if>
			<if test="basicFare != null"> basicFare = #{basicFare}, </if>
			<if test="addFare != null"> addFare = #{addFare}, </if>
			<if test="option1 != null"> option1 = #{option1}, </if>
			<if test="option2 != null"> option2 = #{option2}, </if>
			<if test="option3 != null"> option3 = #{option3}, </if>
			<if test="option4 != null"> option4 = #{option4}, </if>
			<if test="destinationAddress != null"> destinationAddress = #{destinationAddress} </if>
		</set>
        WHERE orderNumber = #{orderNumber}
    </update>

	<select id="getUserID" resultType="string">
		SELECT userID FROM user WHERE userID = #{userID}
	</select>
	
	<select id="getUserType" parameterType="string" resultType="string">
		SELECT userType FROM user WHERE userID = #{userID}
	</select>
	
	<!-- 주문 삭제 -->
    <delete id="deleteOrders">
        DELETE FROM cargoorder WHERE orderNumber IN 
        <foreach item="orderNumber" collection="list" open="(" separator="," close=")">
            #{orderNumber}
        </foreach>
    </delete>
</mapper>
